.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #dedede;
}

.principal {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h1 {
    font-size: 1.5em;
}

.container__formulario {
    width: 50%;
}

.formulario {
    background-color: white;
    border: transparent;
    padding: 1rem;
    border-radius: 10px;
}

img {
    width: 50%;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: auto;
}

input {
    border: solid #d4d4d6 1px;
    border-radius: 5px;
}